<h2 class="content-block">Tasks</h2>

<!-- 
  columnResizeMode="nextColumn" 
  columnResizeMode="widget" 
  width="100%"
  [columnAutoWidth]="true"

  columnResizeMode="widget" -> DOES NOT WORK WITH columnhiding

-->

<dx-data-grid 
  #dataGrid
  class="dx-card wide-card"
  [dataSource]="dataSource"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  columnResizeMode="nextColumn"
  [columnHidingEnabled]="true"
  [remoteOperations]="true"
  [customizeColumns]="customizeColumns"
  (onSelectionChanged)="selectionChangedHandler($event)"
  (onColumnsChanging)="columnsChanging($event)"
  (onInitialized)="onInitialized($event)"
  >


  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

    <!-- COMMENTED regions are similar to CP Registers -->
  <dxo-selection mode="multiple"> </dxo-selection>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-selection mode="multiple" showCheckBoxesMode="onClick" [allowSelectAll]="true"></dxo-selection>
  <dxo-summary>
    <dxi-total-item column="Task_ID" summaryType="count"> </dxi-total-item>
  </dxo-summary>
  <dxo-pager  [visible]="false" displayMode="adaptive" allowedPageSizes="auto" [showInfo]="false" [showNavigationButtons]="false" [showPageSizeSelector]="false" ></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-group-panel [visible]="true"> </dxo-group-panel>
  
  <dxo-state-storing [enabled]="true" type="sessionStorage" storageKey="TaskGridState" ></dxo-state-storing>


<dxi-column
  dataField="Task_ID"  [fixed]="true" [fixedPosition]="'left'"
  [width]="90">
</dxi-column>
<!-- <dxi-column
  dataField="Task_ID"
  [width]="90">
</dxi-column> -->
<dxi-column
  dataField="Task_Subject"
  caption="Subject">
  [minWidth]="100"
</dxi-column>
<dxi-column
  dataField="Task_Status"
  caption="Status">
</dxi-column>
<dxi-column
  dataField="Task_Priority"
  caption="Priority"
  [width]="99"
  >
  <dxo-lookup
    [dataSource]="priority"
    valueExpr="value"
    displayExpr="name">
  </dxo-lookup>
</dxi-column>
<dxi-column
  dataField="ResponsibleEmployee.Employee_Full_Name"
  caption="Assigned To"
  [allowSorting]="false"
  >
</dxi-column>
<dxi-column
  dataField="Task_Start_Date"
  caption="Start Date"
  dataType="date">
</dxi-column>
<dxi-column
  dataField="Task_Due_Date"
  caption="Due Date"
  dataType="date">
</dxi-column>
<dxi-column
  dataField="Task_Priority"
  caption="Priority"
  name="Priority"
  [width]="100">
</dxi-column>
<dxi-column
  dataField="Task_Completion"
  caption="Completion">
</dxi-column>

<!-- <dxi-column
  dataField="Task_Subject"
  caption="Subject">
</dxi-column> -->

</dx-data-grid>
